@media only screen and (min-width: 1030px) and (max-width: 1440px) {
  .header-container {
    zoom: 80%;
    margin-left: 390px;
  }
  li {
    color: #a8a9b4;
    margin-bottom: 25px;
    font-size: 15px;
  }
  .header-container {
    padding-left: 0;
    margin-top: 170px;
  }
  .carousel-view {
    margin-left: 20px;
    width: 100vw;
  }
  .aboutMe-container {
    zoom: 75%;
    margin-left: 380px;
  }
  .skill-section {
    zoom: 75%;
    margin-left: 54px;
  }
  .skill-left,
  .skill-right {
    zoom: 95%;
  }
  .profile-container {
    zoom: 80%;
    margin-top: 30px;
  }
  .project-container {
    zoom: 75%;
    margin-left: 450px;
  }
  .digiserve {
    width: 700px;
    height: 400px;
  }
  .datacom {
    height: 600px;
  }
  .project-section:nth-child(5) {
    width: 1150px;
    height: 600px;
  }
  .project-section:nth-child(6) {
    width: 1100px;
    height: 670px;
  }
  .cert-div {
    zoom: 75%;
  }
  .contact-container {
    zoom: 75%;
    margin-left: 50px;
  }
  .arrow-prev {
    left: -200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  }
  .arrow-next {
    right: -200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}
