/* For Pixel 5 */
@media only screen and (min-width: 393px) and (max-width: 767px) {
  /* INDEX HTML */
  html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .nav-bar-container {
    visibility: hidden;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
    margin-left: 20px;
  }
  .img-header {
    width: 90%;
    height: 90%;
    padding: 0;
    margin: 0;
  }
  .jas {
    margin-left: 73px;
    margin-top: 0px;
    color: #040b14;
  }
  .profile-pic {
    margin-left: 113px;
  }
  .soc-med {
    margin-left: 73px;
    margin-bottom: 30px;
  }
  /* FLOATING MENU BAR */
  .menu-wrap {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 6px;
    left: 340px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  .menu-wrap .hamburger {
    position: absolute;
    top: 6px;
    left: 340px;
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: rgba(4, 11, 20, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  .menu-wrap .hamburger > div:after {
    top: 10px;
  }
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-wrap .menu > div {
    background-color: rgba(225, 230, 238, 0.98);
    width: 200vw;
    height: 200vh;
    display: flex;
    flex: none;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    margin-left: 350px;
    padding-left: 50px;
    font-weight: bolder;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  .menu-wrap .menu > div > div {
    text-align: left;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: rgba(4, 11, 20, 1);
    font-size: 18px;
    margin-bottom: 25px;
  }
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  .carousel-view {
    height: 650px;
  }
  .carousel-item {
    height: 500px;
    margin: 0;
    padding: 0;
  }
  .resize {
    width: 300%;
    margin: 0;
    padding: 0;
  }
  .arrow-prev {
    left: -30px;
    position: absolute;
    top: 109%;
    transform: translateY(-50%) rotate(135deg);
  }
  .arrow-next {
    right: -30px;
    position: absolute;
    top: 109%;
    transform: translateY(-50%) rotate(-45deg);
  }

  /* ABOUT HTML */
  .aboutMe-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .aboutMe-section {
    display: flex;
    flex-direction: column;
    text-align: justify;
    line-height: 0px;
    margin-left: 700px;
  }
  .section-title {
    width: 370px;
    line-height: 0;
    margin: 0;
  }
  .about-icon {
    width: 28%;
    height: 10%;
    margin-left: 16px;
    margin-top: 10px;
  }
  .mid-container {
    margin-top: 35px;
  }
  .right-left-container {
    display: flex;
    flex-direction: column;
  }
  .right-col-information {
    width: 370px;
    line-height: 0;
    margin: 0;
    padding: 0 12px;
  }
  .ul-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 25px;
  }
  .right-ul {
    padding: 0;
    margin: 0;
    line-height: 20px;
  }
  .left-ul {
    padding: 0;
    margin: 0;
    line-height: 20px;
  }
  .skill-section {
    height: 750px;
    margin-top: 875px;
    padding-left: 0;
    width: 100vw;
  }
  .skill-desc {
    margin-left: 12px;
    width: 370px;
  }
  .skill-container {
    display: flex;
    flex-direction: column;
  }
  .skill-left {
    margin: 0;
    padding: 0;
  }
  .skill-right {
    margin: 0;
    padding: 0;
  }
  .progress {
    width: 50%;
  }
  .fill-html {
    width: 90%;
  }
  .fill-js {
    width: 60%;
  }
  .fill-css {
    width: 85%;
  }
  .fill-java {
    width: 85%;
  }
  .fill-python {
    width: 65%;
  }
  .fill-csharp {
    width: 85%;
  }
  /* PROFILE HTML*/
  .profile-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .right-left-resume {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .information-summary {
    width: 65%;
  }
  .information-summary p {
    width: 93%;
  }
  .resume-container-right {
    height: 100%;
  }
  .aboutMes-p,
  .aboutMes-h2 {
    line-height: 30px;
    text-align: justify;
    margin: 0;
  }
  /* CERTIFICATES HTML */
  .cert-div {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0 0 0 12px;
  }
  .cert-div h2 {
    margin-bottom: 0;
  }
  .cert-img {
    width: 28%;
  }
  /* PROJECT HTML */
  .project-container {
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .project-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    width: 350px;
    height: 1005px;
  }
  .row-split {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: small;
    gap: 0;
  }
  .row-split p {
    line-height: 30px;
    width: 100%;
  }
  .mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .row-split img {
    width: 300px;
    align-self: center;
  }
  .project-section:nth-child(4) {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    width: 350px;
    height: 875px;
  }
  .project-section:nth-child(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
    width: 350px;
    height: 500px;
  }
  .project-section:nth-child(6) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
    width: 350px;
    height: 750px;
  }
  /* For Contacts */
  .contact-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 5px;
  }
  .contact-container h2 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  .loc-wrapper,
  .message-wrapper {
    width: 340px;
    height: 700px;
  }
  .map-size {
    width: 340px;
  }
  .row-splitter {
    display: flex;
    flex-direction: column;
  }
  .field-sizes,
  .field-size {
    width: 320px;
  }
}
